@import url("style.css");

#admin-home-section {
  padding: 20px 0;
}
/* .we-navbar-right {
  display: flex;
  align-items: center;
} */
.we-section-title {
  text-align: center;
  background-color:var(--we-color-card-bg);
  height: 600px;
  width: 960px;
  border-radius: 10px;
  font-size: 16px;
}
